<div class="area-login">
  <main id="container">
    <section class="area-logo1">
      <img src="assets/img/logo.png" alt="logo" />
      <h2>Sua plataforma de Finanças</h2>
    </section>

    <section class="area-buttons">
      <a class="finances"> <i class="material-icons">check</i> Entrar </a>
      <a routerLink="/cadastrar" class="add-finances">
        <i class="material-icons">add_circle</i>Cadastrar
      </a>
    </section>
  </main>

  <app-login-user class="w-100"></app-login-user>
</div>
