<main id="container">
  <section class="area-logo1">
    <img src="assets/img/logo.png" alt="logo">
    <h2>Sua plataforma de Finanças</h2>
  </section>
  
  
  <section class="area-buttons">
    <a routerLink="finances" class="finances"> <i class="material-icons">add_circle</i></a>
    <a class="add-finances"><i class="material-icons">search</i></a>
  </section>
  
  
  <img class="area-logo2" src="assets/img/landing.svg"/>
  
  <p class="area-conn">
    Total de conexoes ja realizadas
    <i class="material-icons">favorite</i>
  </p>
</main>